@use '../mixins/media';

.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);

  @include media.tabletsOnUp {
    margin-bottom: var(--space-xl);
  }
}