<div class="welcome">
  <div>
    <h1 class="">Welcome to Note A Rama!</h1>
    <h2 class="">A Ruby on Rails Note-Taking Application</h2>
  </div>
  <div>
    <%= link_to "View Notes", notes_path, class: "btn btn--primary" %>
    <%= link_to "Log In", "#", class: "btn btn--primary" %>
  </div>
</div>
