<div class="welcome">
  <h1 class="">Hi Tim, Welcome to Note A Rama.</h1>
</div>

<div class="welcome">
  <h2 class="">Please Log in, Enter Your Notes, and Save'em!</h2>
</div>

<div class="welcome">
  <%= link_to "Log In", "#", class: "btn btn--primary" %>
  <%= link_to "View Notes", notes_path, class: "btn btn--primary" %>
</div>
